#menubar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
  flex-direction: column;
  background-color: #eee;
  padding: 0.5em;
  text-align: center;
  font-family: monospace;
  cursor: pointer;
}
.menu-child {
  padding: 2px;
  border-bottom: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
